<ion-header>
  <ion-navbar color="primary">
    <ion-title> Passphrase Create </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="savePassphraseData()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="passphrase.passphraseTitle" name="passphraseTitle" required=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="passphrase.passphraseName" name="passphraseName" required=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Text</ion-label>
      <ion-input type="text" [(ngModel)]="passphrase.passphraseText" name="passphraseText" required=""></ion-input>
    </ion-item>
    <button ion-button type="submit">Save Data</button>
  </form>
</ion-content>