<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Story</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createPost()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-toolbar>  
</ion-header>

<ion-content>  
  <ion-card *ngFor = "let post of posts">
    <ion-item class="card">
      <ion-avatar item-start>
        <ion-icon name="images"></ion-icon>
      </ion-avatar>
      <h2>{{post.postTitle}}</h2>
      <p>{{getFormattedDate(post.postedDate)}}</p>
    </ion-item>
    <img src='{{post.imageDisplay}}'/>
    <ion-card-content>
      <p>{{post.postComments}}</p>
    </ion-card-content>
    <ion-row>
        <ion-buttons end>
            <button ion-button icon-start clear small (click)="editPost(post)">
              <ion-icon name="create"></ion-icon>
              <div>Edit</div>
            </button>
            <button ion-button icon-start clear small icon-only (click)="deletePost(post)">
                <ion-icon name="trash"></ion-icon>
                <div>Delete</div>
              </button>      
              <button ion-button icon-start clear small icon-only (click)="downloadPost()">
                  <ion-icon name="download"></ion-icon>
                  <div>Download</div>
                </button>              
          </ion-buttons>
    </ion-row>
  </ion-card>
</ion-content>
  