<ion-header>
    <ion-navbar>
      <ion-title> Savings Details </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>  
    <form (ngSubmit)="saveSavingsData()">     
      <ion-item>
          <ion-label>Saving Name</ion-label>
          <ion-input type="text" [(ngModel)]="saving.name" name="name" required=""></ion-input>
      </ion-item>        
      <ion-item>  
        <ion-label>Saving Type</ion-label>
        <ion-select placeholder="Select" [(ngModel)]="saving.type" type="text" name="type" required="">
          <ion-option value="FD">FD</ion-option>
          <ion-option value="Insurance">Insurance</ion-option>
          <ion-option value="MF">MF</ion-option>        
          <ion-option value="PPF">PPF</ion-option>        
        </ion-select>      
      </ion-item>
      <!-- <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]="saving.createdDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]="saving.endDate"></ion-datetime>
      </ion-item> -->
      <ion-item>
        <ion-label>Comments</ion-label>
        <ion-input type="text" [(ngModel)]="saving.comments" name="Comments" required="" ></ion-input>
      </ion-item>      
      <ion-item>                
        <img [src]="url" height="200"> <br/>
        <input type='file' accept="image/*" (change)="onSelectFile($event)">            
      </ion-item>
      <button ion-button type="submit" >Save Data</button>
    </form>
  </ion-content>