<ion-header>
  <ion-navbar>
    <ion-title> Create Post </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>  
  <form (ngSubmit)="savePostData()">.
    <ion-item>                      
        <img src="{{myPhoto}}"> <br/>
        <button type="button" ion-button icon-start clear small icon-only (click)="presentActionSheet()">
            <ion-icon name="download"></ion-icon>
            <div>Select Image</div>
        </button> 
      </ion-item>
     <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" [(ngModel)]="post.postTitle" name="documentName" required="" ></ion-input>
      </ion-item>       
     <ion-item>
        <ion-label>Comments</ion-label>
        <ion-input type="text" [(ngModel)]="post.postComments" name="Comments" required="" ></ion-input>
      </ion-item>      
      
    <button ion-button type="submit" >Save Data</button>
  </form>
</ion-content>