<ion-header>
	<ion-navbar color="primary">
	  <ion-title> Create Event </ion-title>
	</ion-navbar>
  </ion-header>
  <ion-content padding>   
	<form (ngSubmit)="createEvent()">
		<ion-item>       
		<ion-label>Event Type</ion-label>
		  <ion-select placeholder="Select" [(ngModel)]="event.eventType" type="text" name="type" required="">
			<ion-option value="Daily">Daily Activity</ion-option>
			<ion-option value="Event">Event</ion-option>        
		  </ion-select>      
		</ion-item>      
		<ion-item>
		  <ion-label>Title</ion-label>
		  <ion-input type="text" [(ngModel)]="event.eventTitle" name="eventTitle" required="" ></ion-input>
		</ion-item>       
	   <ion-item>
		  <ion-label>Notes</ion-label>
		  <ion-input type="text" [(ngModel)]="event.eventNotes" name="eventNotes" required="" ></ion-input>
		</ion-item>  
		<ion-item>
		  <ion-label>Place</ion-label>
		  <ion-input type="text" [(ngModel)]="event.eventPlace" name="eventPlace" required="" ></ion-input>
		</ion-item>  
		<ion-item>
		<ion-label>Event Date</ion-label>      
		<ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="event.eventDate" name="createdDate" max="2099-12-31">
		</ion-datetime>     
	  </ion-item>
		<button ion-button type="submit" block>Submit</button>
	  </form>
  </ion-content>